
<div class="jumbotron">
    <h1>Sistema Restaurante</h1><p>
    <p class="lead">Bem vindo ao sistema de listagens de pratos e restaurantes!</p>

   





<div class="row">
    <div class="col-md-4">
        <h2>Lista de Restaurantes</h2>
        <p><a class="btn btn-default" href="http://localhost:2094/api/RestauranteAPI/Getrestaurante">Restaurantes</a></p>
    </div>


    <div class="col-md-4">
        <h2>Pratos</h2>
        <p><a class="btn btn-default" href="http://localhost:2094/api/PratoAPI/Getprato">Pratos</a></p>
    </div>
    
</div>
