@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>ERRO</h1>
        <h2>Não foi possível carregar este conteúdo</h2>
    </hgroup>
</body>
</html>
